.subscribeCardWrapper {
  width: auto;
  height: auto;
  padding: 16px 16px 0;
  a {
    text-decoration: none;

    .subscribeCard {
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.50);
      background-color: $white;
      position: relative;
      width: 100%;
      height: 112px;
      display: flex;
      flex-direction: row;


        .imageHere {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          height: 100%;
          width: 112px;
        }

        .textContentKeepReading {
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          flex: 1;
          padding-top: 2px;

          p {
            font-size: 14px;
            margin-top: 16px;
            margin-left: 8px;
          }
          .bottomContentSubscribe {
            box-sizing: border-box;
            padding: 0 0 3px;
            h2, p {
              margin: 0;
              margin-left: 8px;
              margin-bottom: 4px;
            }
            h2 {
              font-family: HarrietDisplayMedium;
              font-size: 18px;
              max-width: 80%;
              letter-spacing: 0.1px;
            }

            p {
              font-family: PfDinPro;
              font-size: 12px;
            }
          }
            p {
              font-family: DinAlternateBold;
              margin-top: 12px;
            }
            p:nth-child(3) {
              font-size: 12px;
              font-family: PfDinPro;
            }

            .progressBarKeepReading {
              height: 12px;
              width: 100%;
              background-color: $grey;
              border-bottom-right-radius: 12px;

              .progress {
                background-color: $pink;
                height: 100%;
              }
            }
        }

        .closeKeepReading {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          width: 38px;
          height: 38px;

          img {
            width: 16px;
            height: 16px;
          }
        }
    }
  }
}
