.archiveWrapper {
  box-sizing: border-box;
  width: 100vw;
  padding: 16px 16px 0;

  .sortAndFilterFields {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 18px;

    .sortByField, .filterByField {
      color: rgba(0, 0, 0, 0.5);
      background-color: $grey;
      height: 32px;
      width: 48%;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
        p {
          margin: 0;
          font-family: DinAlternateBold;
        }
        img {
          transform: rotate(90deg);
        }
    }

    .openSortByFieldWrapper {
        font-family: DinAlternateBold;
        width: 48%;
      .openSortByFieldButton {
        background-color: $pink;
        height: 32px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
      }
      .sortByFieldBoxWrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
        left: 0;
        height: 100vh;
        position: absolute;

        .sortByFieldBox {
          z-index: 15;
          box-sizing: border-box;
          width: 100%;
          padding:24px;
          height: 75%;
          background-color: $pink;
          border-radius: 0 0 15px 15px;
          transform: translateY(-1px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .openFilterWrapper {
        font-family: DinAlternateBold;
        width: 48%;
      .openFilterButton {
        background-color: $pink;
        height: 32px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
      }
      .filterByFieldBoxWrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
        left: 0;
        height: 100vh;
        position: absolute;

        .filterByFieldBox {
          z-index: 15;
          box-sizing: border-box;
          width: 100%;
          padding: 16px;
          height: 75%;
          background-color: $pink;
          border-radius: 0 0 15px 15px;
          transform: translateY(-1px);

          h3 {
            font-size: 16px;
            margin: 0;
            margin-bottom: 20px;
          }

          .filterArticleLength, .filterCategoryList {
            border-bottom: 1px solid $white;
            margin-bottom: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between;
          }

          .filterCategoryList {
            flex-wrap: wrap;

            .filterCategory {
              width: 155px;

              img {
                margin-right: 18px;
              }
            }
          }

          .filterArticleLength {
            flex-direction: column;

            img {
              margin-right: 16px;
            }
            img:nth-child(2) {
              width: 16px;
              height: 16px;
            }


            .filterCategory:nth-child(1) img:nth-child(2) {
              transform: rotate(180deg);
            }
          }

          .soundAndButtonArticle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            img {
              margin-right: 16px;
            }

            .filterCategory p {
              width: auto;
            }

            .button {
              box-sizing: border-box;
              padding: 6px 24px;
              background-color: $grey;
              border-radius: 25px;
              box-shadow: 0 2px 4px rgba(0,0,0,0.50);
              margin-bottom: 15px;
            }
          }


          @media screen and (max-width: 321px) {

            h3 {
              margin-bottom: 8px;
            }
            .filterCategoryList {
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }

  .archiveCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
