.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

.navbar ul {
  margin: 0;
  height: 100%;
  list-style: none;
  padding: 0;
  width: 60%;
  display: flex;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
}

.navbar .nightMode, .navbar .hamburgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 65px;
}
