.payWall {
  border: 1px solid $dark-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: $dark-grey;
  margin-bottom: 36px;
  padding-bottom: 16px;
  z-index: 600;

  img {
    height: 200px;
  }

  .paywallText {
    margin: 16px 16px 0;
    h3, p {
      color: $white;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left;
    }
    h3 {
      font-family: HarrietDisplayMedium;
      font-size: 30px;
      margin-bottom: 16px;
    }

    p {
      font-family: HarrietText;
    }
  }

  .paywallButton {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    text-align: center;
    padding: 16px;
    border-radius: 25px;
    height: 40px;
    font-family: DinAlternateBold;
  }

  .paywallLogin {
    margin-top: 12px!important;
    color: $white;
    font-family: PfDinPro;
    font-size: 16px;
  }

  .newsletterSignup {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: PfDinPro;
    font-size: 18px;

    input {
      height: 40px;
      background-color: $white;
      border-radius: 8px;
      border: none;
      width: 280px;
      outline: none;
      padding-left: 16px;
      font-size: 18px;
    }

    .newsletterButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      padding: 11px 8px 8px;
      border-radius: 25px;
      background-color: white;
    }
  }
}
