.articleWrapper {
  box-sizing: border-box;

  .fontSizeChange {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out;

    img {
      z-index: 1801;
      position: absolute;
      bottom: 0;
      right: 0;
    }


  }

  .articleHeader {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topContentArticle {
      margin: 24px 16px;
      height: 33px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .categoryAndNumber, .saveAndClose {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }

      .categoryAndNumber{
        .categoryNumberChild {
          margin-right: 10px;
        }
      }

      .saveAndClose {
        img {
          margin-left: 14px;
        }
        img:nth-child(1) {
          margin-top: -1.5px;
        }
      }
    }

    .bottomContentArticle{
      box-sizing: border-box;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 55vh;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.60));
      h2, p {
        margin: 0;
        color: $white;
      }
      h2 {
        font-family: HarrietDisplayMedium;
        font-size: 24px;
      }
      p {
        font-family: PfDinPro;
        font-size: 12px;
        margin: 0;
        color: $white;
        margin-top: 4px;
        line-height: 20px;
      }

      .timeAndIngress {
        height: 80px;

        .timeOfRead, .ingress {
          margin: 0;
        }

        .timeOfRead {
          margin: 0 0 8px;
          font-size: 12px;
          font-family: PfDinPro;
        }
        .ingress {
          font-family: DinAlternateBold;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
  .articleTextWrapper {
    .contentCreators, .listenAndShareIcons {
      margin-bottom: 12px;
      padding-top: 16px;
    }

    .contentCreators {
      font-size: 12px;
      font-family: PfDinPro;
    }

    .listenAndShareIcons {
      padding: 16px;
      height: 40px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        height: 32px;
        width: 32px;
        margin-right: 24px;
      }
    }
    p {
      padding: 0 16px;
      margin: 0;
    }

  .articelMainText {
    transition: max-height 2s ease-in-out;
    font-family: HarrietText;
    height: auto;
    overflow: hidden;

    .textChangeButtons {
      position: absolute;
      z-index: 500;
      width: 49px;
      height: 140px;
      padding: 3px 0 0;
      background-color: $pink;
      bottom: 5px;
      right: 4px;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;
      box-shadow: 0 2px 4px rgba(0,0,0,0.50);

      p:nth-child(1) {
        font-size: 30px;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        text-decoration: none;
      }
    }
  }

  .overlay {
    height: 100px;
    width: 100%;
    margin-top: -100px;
    position: relative;
    z-index: 1;
  }


  }
  .afterArticleContent {
    margin-top: 24px;
    .similarReading {
      box-sizing: border-box;
      width: 100%;
      padding: 0 16px;
      h2 {
        font-family: DinAlternateBold;
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 16px;
        box-sizing: border-box;
        width: 100%;
      }
    }

  }
}
