.largeCardWrapper {
  box-sizing: border-box;
  width: 80vw;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
  margin-right: 16px;
  margin-bottom: 16px;
  flex: 0 0 auto;


  a {
    text-decoration: none;
    color: $white;

    .largeCardContent {
      box-sizing: border-box;
      border-radius: 12px;
      height: 350px;
      width: 100%;
      padding: 20px;
      margin-right: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      .addToList {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          
        }

      }

        .contentText {
          height: 40%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .topContent {
            h2 {
              font-family: HarrietDisplayMedium;
              color: white;
              margin: 0;
            }

            p {font-size: 12px}
          }

          p {
            font-family: PfDinMedium;
            font-size: 14px;
            margin: 0;
          }
        }

    }

  }
}
