.largeCardWrapper {
  box-sizing: border-box;
  width: 80vw;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.50);
  margin-right: 16px;
  margin-bottom: 16px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;

  .addToList {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 16px;

    .categoryTags {
      display: flex;
      flex-direction: row;

      .tag {
        margin-right: 10px;
      }

    }
  }

  a {
    text-decoration: none;
    color: $white;

    .largeCardContent {
      box-sizing: border-box;
      border-radius: 12px;
      width: 100%;
      padding: 20px;
      margin-right: 16px;
      display: flex;
      flex: 1;
      height: 280px;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.60));

        .contentText {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          h2 {
            font-family: HarrietDisplayMedium;
            color: white;
            margin: 0;
          }

          .bottomContent {
            height: 80px;

            .timeOfRead, .ingress {
              margin: 0;
            }

            .timeOfRead {
              margin: 4px 0 8px;
              font-size: 12px;
              font-family: PfDinPro;
            }
            .ingress {
              font-family: DinAlternateBold;
              font-size: 14px;
              line-height: 20px;
            }
          }
        }

    }

  }
}
