.bannerCardWrapper {
  width: auto;
  height: auto;
  padding: 0 16px;
  a {
    text-decoration: none;

    .bannerCard {
      border-radius: 12px;
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
      position: relative;
      width: 100%;
      height: 112px;
      display: flex;
      flex-direction: row;


        .imageHere {
          border-top-left-radius: 12px;
          border-bottom-left-radius: 12px;
          height: 100%;
          width: 112px;
        }

        .textContentKeepReading {
          color: black;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          flex: 1;
            h2, p {
              margin: 0;
              margin-left: 8px;
            }
            p {
              font-family: PfDinMedium;
            }
            p:nth-child(1) {
              font-size: 14px;
              margin-top: 10px;
            }
            p:nth-child(3) {
              font-size: 12px;
            }
            h2 {
              font-family: HarrietDisplayMedium;
              font-size: 18px;
              max-width: 80%
            }

            .progressBarKeepReading {
              height: 12px;
              width: 100%;
              background-color: $grey;
              border-bottom-right-radius: 12px;

              .progress {
                background-color: $pink;
                height: 100%;
              }
            }
        }

        .closeKeepReading {
          z-index: 50;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 0;
          right: 0;
          width: 38px;
          height: 38px;

          img {
            width: 16px;
            height: 16px;
          }
        }
    }
  }
}
