.bannerCardWrapper {
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  height: auto;
  a {
    text-decoration: none;
    .bannerCard {
      width: 100%;
      height: 100%;
      h1 {
        color: hotpink;
        margin: 0;
      }
    }
  }
}
