.dropDownMenu {
  padding-top: 30px;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $pink;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  transition: 0.4s all ease-in-out;

  .dropDownMenuLinks {
    width: 230px;
    height: 80vh;
    border: 1px solid black;
  }

  ul {
    padding: 0;
    margin-top: 15px;
    list-style: none;

    li {
      text-transform: uppercase;
      padding-left: 10px;
      display: flex;
      align-items: center;
      height: 32px;
      border-bottom: 1px solid $white;
    }
  }
}
