.dropDownMenu {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: $pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  transition: 0.5s all ease-out;
  padding: 72px 16px 0;

  .dropDownMenuLinks {
    width: 100%;
    height: 80vh;
  }

  ul {
    padding: 0;
    margin-top: 15px;
    list-style: none;

    li {
      box-sizing: border-box;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      border-bottom: 1px solid $white;
      padding: 0 9px;

      p {
        font-family: PfDinPro;
        font-size: 18px;
        margin: 0;
        padding-top: 5px;
      }

      img {
        height: 13px;
      }
    }
  }

  .topMenuItems, .middleMenuItems {
    margin-bottom: 48px;
  }

  .bottomMenuItems {
    margin-bottom: 31px;
  }


}
