@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box; }

body {
  margin: 0px;
  box-sizing: border-box;
  min-height: 100vh;
  height: 100%; }

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 56px;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  transition: all 0.5s ease-in-out; }
  .navbar .navLinks {
    box-shadow: inset 0 0 0 0;
    background-color: #F8F8F8;
    z-index: 1000;
    padding: 0 16px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navbar .navLinks a {
      text-decoration: none;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E0AB9B;
      font-size: 18px; }
    .navbar .navLinks a:nth-child(1) {
      margin-right: 10px; }
    .navbar .navLinks .active svg path {
      fill: #E0AB9B;
      stroke: #E0AB9B; }
  .navbar .nightMode, .navbar .hamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 65px; }

.footerWrapper {
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  background-color: #E0AB9B;
  height: 270px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 18px; }
  .footerWrapper h3 {
    text-transform: uppercase;
    font-family: PfDinPro;
    font-weight: normal;
    margin: 0;
    width: 175px;
    text-align: center;
    height: 25px;
    border-bottom: 1px solid #FFFFFF; }

.dropDownMenu {
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background-color: #E0AB9B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(-100vh);
  transition: 0.5s all ease-out;
  padding: 72px 16px 0; }
  .dropDownMenu .dropDownMenuLinks {
    width: 100%;
    height: 80vh; }
  .dropDownMenu ul {
    padding: 0;
    margin-top: 15px;
    list-style: none; }
    .dropDownMenu ul li {
      box-sizing: border-box;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      border-bottom: 1px solid #FFFFFF;
      padding: 0 9px; }
      .dropDownMenu ul li p {
        font-family: PfDinPro;
        font-size: 18px;
        margin: 0;
        padding-top: 5px; }
      .dropDownMenu ul li img {
        height: 13px; }
  .dropDownMenu .topMenuItems, .dropDownMenu .middleMenuItems {
    margin-bottom: 48px; }
  .dropDownMenu .bottomMenuItems {
    margin-bottom: 31px; }

.App {
  box-sizing: border-box;
  padding: 56px 0 0px;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column; }

@font-face {
  font-family: 'HarrietDisplayLight';
  src: url("assets/styles/fonts/HarrietDisplay-Light.otf"); }

@font-face {
  font-family: 'HarrietText';
  src: url("assets/styles/fonts/HarrietText-Regular.otf"); }

@font-face {
  font-family: 'HarrietDisplayMedium';
  src: url("assets/styles/fonts/HarrietDisplayMedium.otf");
  font-weight: bold; }

@font-face {
  font-family: 'PfDinMedium';
  src: url("assets/styles/fonts/PfDinMedium.otf"); }

@font-face {
  font-family: 'PfDinPro';
  src: url("assets/styles/fonts/pf-din-text-pro.otf"); }

@font-face {
  font-family: 'DinAlternateBold';
  src: url("assets/styles/fonts/DIN Alternate Bold.ttf");
  font-weight: bold; }

.bannerCardWrapper {
  width: auto;
  height: auto;
  padding: 0 16px; }
  .bannerCardWrapper a {
    text-decoration: none; }
    .bannerCardWrapper a .bannerCard {
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      background-color: #FFFFFF;
      position: relative;
      width: 100%;
      height: 112px;
      display: flex;
      flex-direction: row; }
      .bannerCardWrapper a .bannerCard .imageHere {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 100%;
        width: 112px; }
      .bannerCardWrapper a .bannerCard .textContentKeepReading {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading p {
          font-size: 14px;
          margin-top: 16px;
          margin-left: 8px; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentKeepReading {
          box-sizing: border-box;
          padding: 0 0 3px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentKeepReading h2, .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentKeepReading p {
            margin: 0;
            margin-left: 8px;
            margin-bottom: 4px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentKeepReading h2 {
            font-family: HarrietDisplayMedium;
            font-size: 18px;
            max-width: 80%;
            letter-spacing: 0.1px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentKeepReading p {
            font-family: PfDinPro;
            font-size: 12px;
            margin-bottom: 0; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading p {
          font-family: DinAlternateBold;
          margin-top: 12px; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading p:nth-child(3) {
          font-size: 12px;
          font-family: PfDinPro; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading .progressBarKeepReading {
          height: 12px;
          width: 100%;
          background-color: #ECECEC;
          border-bottom-right-radius: 12px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .progressBarKeepReading .progress {
            background-color: #E0AB9B;
            height: 100%; }
      .bannerCardWrapper a .bannerCard .closeKeepReading {
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        height: 38px; }
        .bannerCardWrapper a .bannerCard .closeKeepReading img {
          width: 16px;
          height: 16px; }

.largeCardWrapper {
  box-sizing: border-box;
  width: 80vw;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-right: 16px;
  margin-bottom: 16px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto; }
  .largeCardWrapper .addToList {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 16px 16px; }
    .largeCardWrapper .addToList .categoryTags {
      display: flex;
      flex-direction: row; }
      .largeCardWrapper .addToList .categoryTags .tag {
        margin-right: 10px; }
  .largeCardWrapper a {
    text-decoration: none;
    color: #FFFFFF; }
    .largeCardWrapper a .largeCardContent {
      box-sizing: border-box;
      border-radius: 12px;
      width: 100%;
      padding: 20px;
      margin-right: 16px;
      display: flex;
      flex: 1;
      height: 280px;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)); }
      .largeCardWrapper a .largeCardContent .contentText {
        display: flex;
        flex-direction: column;
        justify-content: flex-end; }
        .largeCardWrapper a .largeCardContent .contentText h2 {
          font-family: HarrietDisplayMedium;
          color: white;
          margin: 0; }
        .largeCardWrapper a .largeCardContent .contentText .bottomContent {
          height: 80px; }
          .largeCardWrapper a .largeCardContent .contentText .bottomContent .timeOfRead, .largeCardWrapper a .largeCardContent .contentText .bottomContent .ingress {
            margin: 0; }
          .largeCardWrapper a .largeCardContent .contentText .bottomContent .timeOfRead {
            margin: 4px 0 8px;
            font-size: 12px;
            font-family: PfDinPro; }
          .largeCardWrapper a .largeCardContent .contentText .bottomContent .ingress {
            font-family: DinAlternateBold;
            font-size: 14px;
            line-height: 20px; }

.smallBannerCardWrapper {
  width: auto;
  height: auto; }
  .smallBannerCardWrapper .smallBannerCardContent {
    width: 100%;
    height: 66px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .smallBannerCardWrapper .smallBannerCardContent a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      flex: 1; }
      .smallBannerCardWrapper .smallBannerCardContent a .smallCardImage {
        height: 66px;
        width: 66px;
        border-radius: 10px; }
      .smallBannerCardWrapper .smallBannerCardContent a .smallCardText {
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        flex: 1; }
        .smallBannerCardWrapper .smallBannerCardContent a .smallCardText h2 {
          font-family: HarrietDisplayMedium;
          color: #000000;
          font-size: 18px;
          margin: 3px 0 0; }
        .smallBannerCardWrapper .smallBannerCardContent a .smallCardText p {
          font-size: 12px;
          font-family: PfDinPro;
          color: #000000;
          margin: 0; }
    .smallBannerCardWrapper .smallBannerCardContent .smallCardSave {
      width: 20px;
      height: 100%; }

.landingWrapper {
  padding-top: 15px;
  transition: all 1s ease; }
  .landingWrapper .landingLargeCardContainer {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-left: 16px; }
    .landingWrapper .landingLargeCardContainer::-webkit-scrollbar {
      display: none; }
    .landingWrapper .landingLargeCardContainer .moreRecommended {
      padding: 0 25px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      margin-right: 25px;
      height: 350px;
      width: 100px;
      background-color: #E0AB9B; }
      .landingWrapper .landingLargeCardContainer .moreRecommended a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%; }
        .landingWrapper .landingLargeCardContainer .moreRecommended a img {
          transform: rotate(45deg); }
  .landingWrapper .mostReadArticlesContainer {
    box-sizing: border-box;
    width: 100vw;
    padding: 0 16px;
    font-family: DinAlternateBold; }
    .landingWrapper .mostReadArticlesContainer .mostReadArticles {
      margin-top: 8px;
      margin-bottom: 16px;
      font-size: 20px; }
  .landingWrapper .landingSmallCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    width: 100vw;
    padding: 0 16px; }
    .landingWrapper .landingSmallCardContainer .headerRecommended {
      box-sizing: border-box;
      width: 100%;
      padding: 0; }
  .landingWrapper .headerRecommended {
    font-family: DinAlternateBold;
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0 16px; }
  .landingWrapper .headerLatestArticles {
    font-family: DinAlternateBold;
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    width: 100%; }

.smallCardWrapper {
  width: auto;
  height: auto;
  margin-bottom: 4.5%;
  height: 190px;
  border-radius: 12px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .smallCardWrapper .topContent {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .smallCardWrapper a {
    text-decoration: none; }
    .smallCardWrapper a .smallCardContent {
      box-sizing: border-box;
      width: 43vw;
      padding: 10px;
      height: 160px;
      display: flex;
      border-radius: 12px;
      align-items: flex-end;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)); }
      .smallCardWrapper a .smallCardContent .bottomText {
        color: #FFFFFF; }
        .smallCardWrapper a .smallCardContent .bottomText h2, .smallCardWrapper a .smallCardContent .bottomText p {
          margin: 0; }
        .smallCardWrapper a .smallCardContent .bottomText h2 {
          font-family: DinAlternateBold;
          font-size: 14px; }
        .smallCardWrapper a .smallCardContent .bottomText p {
          margin-top: 4px;
          font-family: PfDinPro;
          font-size: 12px; }

.readListWrapper {
  padding: 16px 16px 0; }
  .readListWrapper .readListHistoryButtons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px; }
    .readListWrapper .readListHistoryButtons .readListButton, .readListWrapper .readListHistoryButtons .historyButton {
      font-family: DinAlternateBold;
      box-sizing: border-box;
      background-color: #ECECEC;
      height: 32px;
      width: 48%;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px; }

.archiveWrapper {
  box-sizing: border-box;
  width: 100vw;
  padding: 16px 16px 0; }
  .archiveWrapper .chosenFilters {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 16px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .archiveWrapper .chosenFilters p {
      font-family: DinAlternateBold;
      margin: 0;
      margin-bottom: 0px; }
    .archiveWrapper .chosenFilters .filterList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: row; }
  .archiveWrapper .sortAndFilterFields {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px; }
    .archiveWrapper .sortAndFilterFields .sortByField, .archiveWrapper .sortAndFilterFields .filterByField {
      color: rgba(0, 0, 0, 0.5);
      background-color: #ECECEC;
      height: 32px;
      width: 48%;
      border-radius: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px; }
      .archiveWrapper .sortAndFilterFields .sortByField p, .archiveWrapper .sortAndFilterFields .filterByField p {
        margin: 0;
        font-family: DinAlternateBold; }
      .archiveWrapper .sortAndFilterFields .sortByField img, .archiveWrapper .sortAndFilterFields .filterByField img {
        transform: rotate(90deg); }
    .archiveWrapper .sortAndFilterFields .openSortByFieldWrapper {
      font-family: DinAlternateBold;
      width: 48%; }
      .archiveWrapper .sortAndFilterFields .openSortByFieldWrapper .openSortByFieldButton {
        background-color: #E0AB9B;
        height: 32px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px; }
      .archiveWrapper .sortAndFilterFields .openSortByFieldWrapper .sortByFieldBoxWrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
        left: 0;
        height: 100vh;
        position: absolute; }
        .archiveWrapper .sortAndFilterFields .openSortByFieldWrapper .sortByFieldBoxWrapper .sortByFieldBox {
          z-index: 15;
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          height: 75%;
          background-color: #E0AB9B;
          border-radius: 0 0 15px 15px;
          transform: translateY(-1px);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
    .archiveWrapper .sortAndFilterFields .openFilterWrapper {
      font-family: DinAlternateBold;
      width: 48%; }
      .archiveWrapper .sortAndFilterFields .openFilterWrapper .openFilterButton {
        background-color: #E0AB9B;
        height: 32px;
        width: 100%;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px; }
      .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper {
        box-sizing: border-box;
        width: 100%;
        padding: 0 16px;
        left: 0;
        height: 100vh;
        position: absolute; }
        .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox {
          z-index: 15;
          box-sizing: border-box;
          width: 100%;
          padding: 16px;
          height: 75%;
          background-color: #E0AB9B;
          border-radius: 0 0 15px 15px;
          transform: translateY(-1px); }
          .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox h3 {
            font-size: 16px;
            margin: 0;
            margin-bottom: 20px; }
          .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterArticleLength, .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterCategoryList {
            border-bottom: 1px solid #FFFFFF;
            margin-bottom: 16px;
            width: 100%;
            display: flex;
            justify-content: space-between; }
          .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterCategoryList {
            flex-wrap: wrap; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterCategoryList .filterCategory {
              width: 155px; }
              .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterCategoryList .filterCategory img {
                margin-right: 18px; }
          .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterArticleLength {
            flex-direction: column; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterArticleLength img {
              margin-right: 16px; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterArticleLength img:nth-child(2) {
              width: 16px;
              height: 16px; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterArticleLength .filterCategory:nth-child(1) img:nth-child(2) {
              transform: rotate(180deg); }
          .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .soundAndButtonArticle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .soundAndButtonArticle img {
              margin-right: 16px; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .soundAndButtonArticle .filterCategory p {
              width: auto; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .soundAndButtonArticle .button {
              box-sizing: border-box;
              padding: 6px 24px;
              background-color: #ECECEC;
              border-radius: 25px;
              box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
              margin-bottom: 15px; }
          @media screen and (max-width: 321px) {
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox h3 {
              margin-bottom: 8px; }
            .archiveWrapper .sortAndFilterFields .openFilterWrapper .filterByFieldBoxWrapper .filterByFieldBox .filterCategoryList {
              margin-bottom: 8px; } }
  .archiveWrapper .archiveCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }

.socialMediaLogos {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 168px; }
  .socialMediaLogos img {
    height: 32px;
    width: 32px; }

.articleWrapper {
  box-sizing: border-box; }
  .articleWrapper .fontSizeChange {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s ease-in-out; }
    .articleWrapper .fontSizeChange img {
      z-index: 1801;
      position: absolute;
      bottom: 0;
      right: 0; }
  .articleWrapper .articleHeader {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .articleWrapper .articleHeader .topContentArticle {
      margin: 24px 16px;
      height: 33px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .articleWrapper .articleHeader .topContentArticle .categoryAndNumber, .articleWrapper .articleHeader .topContentArticle .saveAndClose {
        width: auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start; }
      .articleWrapper .articleHeader .topContentArticle .categoryAndNumber .categoryNumberChild {
        margin-right: 10px; }
      .articleWrapper .articleHeader .topContentArticle .saveAndClose img {
        margin-left: 14px; }
      .articleWrapper .articleHeader .topContentArticle .saveAndClose img:nth-child(1) {
        margin-top: -1.5px; }
    .articleWrapper .articleHeader .bottomContentArticle {
      box-sizing: border-box;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: 55vh;
      background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6)); }
      .articleWrapper .articleHeader .bottomContentArticle h2, .articleWrapper .articleHeader .bottomContentArticle p {
        margin: 0;
        color: #FFFFFF; }
      .articleWrapper .articleHeader .bottomContentArticle h2 {
        font-family: HarrietDisplayMedium;
        font-size: 24px; }
      .articleWrapper .articleHeader .bottomContentArticle p {
        font-family: PfDinPro;
        font-size: 12px;
        margin: 0;
        color: #FFFFFF;
        margin-top: 4px;
        line-height: 20px; }
      .articleWrapper .articleHeader .bottomContentArticle .timeAndIngress {
        height: 80px; }
        .articleWrapper .articleHeader .bottomContentArticle .timeAndIngress .timeOfRead, .articleWrapper .articleHeader .bottomContentArticle .timeAndIngress .ingress {
          margin: 0; }
        .articleWrapper .articleHeader .bottomContentArticle .timeAndIngress .timeOfRead {
          margin: 0 0 8px;
          font-size: 12px;
          font-family: PfDinPro; }
        .articleWrapper .articleHeader .bottomContentArticle .timeAndIngress .ingress {
          font-family: DinAlternateBold;
          font-size: 14px;
          line-height: 20px; }
  .articleWrapper .articleTextWrapper .contentCreators, .articleWrapper .articleTextWrapper .listenAndShareIcons {
    margin-bottom: 12px;
    padding-top: 16px; }
  .articleWrapper .articleTextWrapper .contentCreators {
    font-size: 12px;
    font-family: PfDinPro; }
  .articleWrapper .articleTextWrapper .listenAndShareIcons {
    padding: 16px;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start; }
    .articleWrapper .articleTextWrapper .listenAndShareIcons img {
      height: 32px;
      width: 32px;
      margin-right: 24px; }
  .articleWrapper .articleTextWrapper p {
    padding: 0 16px;
    margin: 0; }
  .articleWrapper .articleTextWrapper .articelMainText {
    transition: max-height 2s ease-in-out;
    font-family: HarrietText;
    height: auto;
    overflow: hidden; }
    .articleWrapper .articleTextWrapper .articelMainText .textChangeButtons {
      position: absolute;
      z-index: 500;
      width: 49px;
      height: 140px;
      padding: 3px 0 0;
      background-color: #E0AB9B;
      bottom: 5px;
      right: 4px;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      display: none;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
      .articleWrapper .articleTextWrapper .articelMainText .textChangeButtons p:nth-child(1) {
        font-size: 30px; }
      .articleWrapper .articleTextWrapper .articelMainText .textChangeButtons p {
        font-family: 'Roboto', sans-serif;
        font-size: 26px;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 40px;
        text-decoration: none; }
  .articleWrapper .articleTextWrapper .overlay {
    height: 100px;
    width: 100%;
    margin-top: -100px;
    position: relative;
    z-index: 1; }
  .articleWrapper .afterArticleContent {
    margin-top: 24px; }
    .articleWrapper .afterArticleContent .similarReading {
      box-sizing: border-box;
      width: 100%;
      padding: 0 16px; }
      .articleWrapper .afterArticleContent .similarReading h2 {
        font-family: DinAlternateBold;
        font-size: 20px;
        margin-top: 24px;
        margin-bottom: 16px;
        box-sizing: border-box;
        width: 100%; }

.categoryBox {
  box-sizing: border-box;
  height: 24px;
  background-color: #E0AB9B;
  border-radius: 4px;
  display: flex;
  align-items: center; }
  .categoryBox p {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    margin: 7px 6px 6px;
    letter-spacing: 0.75px;
    font-family: DinAlternateBold; }

.subscribeCardWrapper {
  width: auto;
  height: auto;
  padding: 0 16px; }
  .subscribeCardWrapper a {
    text-decoration: none; }
    .subscribeCardWrapper a .subscribeCard {
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      background-color: #FFFFFF;
      position: relative;
      width: 100%;
      height: 112px;
      display: flex;
      flex-direction: row; }
      .subscribeCardWrapper a .subscribeCard .imageHere {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 100%;
        width: 112px; }
      .subscribeCardWrapper a .subscribeCard .textContentKeepReading {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        flex: 1;
        padding-top: 2px; }
        .subscribeCardWrapper a .subscribeCard .textContentKeepReading p {
          font-size: 14px;
          margin-top: 16px;
          margin-left: 8px; }
        .subscribeCardWrapper a .subscribeCard .textContentKeepReading .bottomContentSubscribe {
          box-sizing: border-box;
          padding: 0 0 3px; }
          .subscribeCardWrapper a .subscribeCard .textContentKeepReading .bottomContentSubscribe h2, .subscribeCardWrapper a .subscribeCard .textContentKeepReading .bottomContentSubscribe p {
            margin: 0;
            margin-left: 8px;
            margin-bottom: 4px; }
          .subscribeCardWrapper a .subscribeCard .textContentKeepReading .bottomContentSubscribe h2 {
            font-family: HarrietDisplayMedium;
            font-size: 18px;
            max-width: 80%;
            letter-spacing: 0.1px; }
          .subscribeCardWrapper a .subscribeCard .textContentKeepReading .bottomContentSubscribe p {
            font-family: PfDinPro;
            font-size: 12px; }
        .subscribeCardWrapper a .subscribeCard .textContentKeepReading p {
          font-family: DinAlternateBold;
          margin-top: 12px; }
        .subscribeCardWrapper a .subscribeCard .textContentKeepReading p:nth-child(3) {
          font-size: 12px;
          font-family: PfDinPro; }
        .subscribeCardWrapper a .subscribeCard .textContentKeepReading .progressBarKeepReading {
          height: 12px;
          width: 100%;
          background-color: #ECECEC;
          border-bottom-right-radius: 12px; }
          .subscribeCardWrapper a .subscribeCard .textContentKeepReading .progressBarKeepReading .progress {
            background-color: #E0AB9B;
            height: 100%; }
      .subscribeCardWrapper a .subscribeCard .closeKeepReading {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        height: 38px; }
        .subscribeCardWrapper a .subscribeCard .closeKeepReading img {
          width: 16px;
          height: 16px; }

.filterCategory {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 15px; }
  .filterCategory p {
    margin: 0;
    font-family: DinAlternateBold;
    font-size: 16px; }

@media screen and (max-width: 321px) {
  .filterCategory {
    width: 125px;
    margin-bottom: 6px; } }

.sortingCategory {
  display: flex;
  flex-direction: row;
  width: 200px;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  box-sizing: border-box;
  align-items: center;
  padding-bottom: 5px;
  margin-bottom: 16px; }
  .sortingCategory p {
    margin: 0;
    font-family: DinAlternateBold;
    font-size: 16px; }

.leftToReadBar {
  margin-top: auto;
  border-radius: 12px;
  height: 8px;
  width: 90%;
  background-color: #ECECEC; }
  .leftToReadBar .progressBar {
    border-radius: 12px 0 0 12px;
    width: 35px;
    background-color: #E0AB9B;
    height: 8px; }

.payWall {
  border: 1px solid #2C2C2C;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #2C2C2C;
  margin-bottom: 36px;
  padding-bottom: 16px;
  z-index: 600; }
  .payWall img {
    height: 200px; }
  .payWall .paywallText {
    margin: 16px 16px 0; }
    .payWall .paywallText h3, .payWall .paywallText p {
      color: #FFFFFF;
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: left; }
    .payWall .paywallText h3 {
      font-family: HarrietDisplayMedium;
      font-size: 30px;
      margin-bottom: 16px; }
    .payWall .paywallText p {
      font-family: HarrietText; }
  .payWall .paywallButton {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    text-align: center;
    padding: 16px;
    border-radius: 25px;
    height: 40px;
    font-family: DinAlternateBold; }
  .payWall .paywallLogin {
    margin-top: 12px !important;
    color: #FFFFFF;
    font-family: PfDinPro;
    font-size: 16px; }
  .payWall .newsletterSignup {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: PfDinPro;
    font-size: 18px; }
    .payWall .newsletterSignup input {
      height: 40px;
      background-color: #FFFFFF;
      border-radius: 8px;
      border: none;
      width: 280px;
      outline: none;
      padding-left: 16px;
      font-size: 18px; }
    .payWall .newsletterSignup .newsletterButton {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      padding: 11px 8px 8px;
      border-radius: 25px;
      background-color: white; }

.searchFieldWrapper {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  background-color: #ECECEC;
  border-radius: 16px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 4px 0 45px; }
  .searchFieldWrapper .searchFieldInput {
    background-color: #ECECEC;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 12px;
    border: none;
    height: 32px;
    width: 100%;
    font-size: 16px; }
  .searchFieldWrapper .searchFieldInput:active, .searchFieldWrapper .searchFieldInput:focus {
    outline: none; }

.filterCategoryBox {
  box-sizing: border-box;
  height: 24px;
  background-color: #E0AB9B;
  border-radius: 25px;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2.5px 2.5px; }
  .filterCategoryBox p {
    color: #FFFFFF;
    font-size: 14px;
    margin: 7px 6px 6px;
    letter-spacing: 0.75px;
    font-family: DinAlternateBold; }
  .filterCategoryBox img {
    margin-left: 10px;
    height: 12px;
    width: 12px; }

.bannerCardWrapper {
  width: auto;
  height: auto;
  padding: 0 16px; }
  .bannerCardWrapper a {
    text-decoration: none; }
    .bannerCardWrapper a .bannerCard {
      border-radius: 12px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      background-color: #FFFFFF;
      position: relative;
      width: 100%;
      height: 112px;
      display: flex;
      flex-direction: row; }
      .bannerCardWrapper a .bannerCard .imageHere {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        height: 100%;
        width: 112px; }
      .bannerCardWrapper a .bannerCard .textContentKeepReading {
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading p {
          font-size: 14px;
          margin-top: 16px;
          margin-left: 8px; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentNextArticle {
          box-sizing: border-box;
          padding: 0 0 3px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentNextArticle h2, .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentNextArticle p {
            margin: 0;
            margin-left: 8px;
            margin-bottom: 4px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentNextArticle h2 {
            font-family: HarrietDisplayMedium;
            font-size: 18px;
            max-width: 80%;
            letter-spacing: 0.1px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .bottomContentNextArticle p {
            font-family: PfDinPro;
            font-size: 12px;
            margin-bottom: 12px; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading p {
          font-family: DinAlternateBold;
          margin-top: 12px; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading p:nth-child(3) {
          font-size: 12px;
          font-family: PfDinPro; }
        .bannerCardWrapper a .bannerCard .textContentKeepReading .progressBarKeepReading {
          height: 12px;
          width: 100%;
          background-color: #ECECEC;
          border-bottom-right-radius: 12px; }
          .bannerCardWrapper a .bannerCard .textContentKeepReading .progressBarKeepReading .progress {
            background-color: #E0AB9B;
            height: 100%; }
      .bannerCardWrapper a .bannerCard .closeKeepReading {
        z-index: 50;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 38px;
        height: 38px; }
        .bannerCardWrapper a .bannerCard .closeKeepReading img {
          width: 16px;
          height: 16px; }
