.smallCardWrapper {
  width: auto;
  height: auto;
  margin-bottom: 4.5%;

  a {
    text-decoration: none;

    .smallCardContent {
      box-shadow: 0 2px 8px 0 rgba(0,0,0,0.50);
      box-sizing: border-box;
      border-radius: 12px;
      width: 43vw;
      height: 190px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .topContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .smallCardCategory {
          box-sizing: border-box;
          background-color: $pink;
          color: $white;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 2px 5px;
          text-transform: uppercase;
        }
      }
      .bottomText {
        color: $white;

        h2, p {margin: 0;}
        h2 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
