//fonts we use


@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
    font-family: 'HarrietDisplayLight';
    src: url('assets/styles/fonts/HarrietDisplay-Light.otf');
}
@font-face {
    font-family: 'HarrietText';
    src: url('assets/styles/fonts/HarrietText-Regular.otf');
}
@font-face {
    font-family: 'HarrietDisplayMedium';
    src: url('assets/styles/fonts/Harriet Display Medium.otf');
}

@font-face {
    font-family: 'PfDinMedium';
    src: url('assets/styles/fonts/PfDinMedium.otf');
}

@font-face {
    font-family: 'PfDinPro';
    src: url('assets/styles/fonts/pf-din-text-pro.otf');
}

@font-face {
    font-family: 'DinAlternateBold';
    src: url('assets/styles/fonts/DIN Alternate Bold.ttf');
}
